@using System.Security.Claims;
@model BusinessLogic.DTOs.MovieDTO
@{
	@if (User.Identity.IsAuthenticated && User.FindFirst(ClaimTypes.Role)?.Value == "Admin")
	{
		<div style="text-align: right">
			<button type="button" onclick="Edit()">Edit</button>
			<button type="button" onclick="Delete()">Delete</button>
		</div>
	}
	<div style="display: none" id="movieId">@Model.Id</div>
	<h1>@Model.Title</h1>
	<div style="display:grid; grid-template-columns: 1fr 2fr">
		<div class="movieInformationLeftBlock">
			<img src=@Model.ThumbnailLink class="movieInfoImage">
			<h2>Genres</h2>
			<div>
				@foreach(var genre in Model.Genres){
					<p>@genre.GenreName</p>
				}
			</div>
			<h2 style="display:block">Actors</h2>
			<div style="display:grid; grid-template-columns: 1fr 1fr">
				@foreach(var role in Model.Roles){
					<div>
						<img src="@role.Actor.PhotoUrl" class="nodeImage">
						<h3>Role</h3>
						<h4>@role.Role</h4>
					</div>
				}
			</div>
		</div>
		<div class="movieInformationRightBlock">
			<h2>Description</h2>
			<p style="color:white">@Model.Description</p>
			<h2>Trailer</h2>
			<iframe height="540" width="960" src="@Model.TrailerLink" allowfullscreen></iframe>
		</div>
	</div>
}
@section Scripts{
	<script type="text/javascript">
		let id = document.getElementById("movieId").textContent;
		function Edit(){
			window.location.replace
			(window.origin + "/Movies/Edit/" + id);
		}
		function Delete(){
			if(window.confirm("Do you want to delete this movie?")){
				const id = document.getElementById("movieId").textContent;
				const href = window.origin + '/Movies/Delete/' + Number(id);
				const xhr = new XMLHttpRequest();
				xhr.open("DELETE", href);
				xhr.onload = function() {
						if(this.status == 200){
							document.location.replace(window.origin + "/Movies/");
						}
						else if(this.status == 401){
							alert("unauthorized");
						}
						else if(this.status == 403){
							alert("Access denied")
						}
				}
				xhr.send();
			}
		}
	</script>
}
